<style type="text/css">
	.container{
		text-align: center;
	}
</style>
<div class="container">
<h2> 重庆邮电大学 </h2>
<h3>  
	<%= image_tag("http://a4.att.hudong.com/64/11/01300000264689122646118405986_950.jpg") %>
	<br/>
	<br/>
	<br/>
	<li>联系电话：18612300141</li>
	<li>电子邮件：1035611720@qq.com</li>
	<li>地   址： 重庆市南岸区崇文路2号</li>
</h3>

</div>