<div class="container">
<%= image_tag ("http://img.kumi.cn/photo/70/43/af/7043af32332fbbb0.jpg"), size: "300x300", class: "img-circle" %>
<%= image_tag ("http://img.kumi.cn/photo/70/43/af/7043af32332fbbb0.jpg"), size: "300x300", class: "img-circle" %>
<%= image_tag ("http://img.kumi.cn/photo/70/43/af/7043af32332fbbb0.jpg"), size: "300x300", class: "img-circle" %>
<%= image_tag ("http://img.kumi.cn/photo/70/43/af/7043af32332fbbb0.jpg"), size: "300x300", class: "img-circle" %>


</div>