<div class="container">
  <%= image_tag ("http://cdn.duitang.com/uploads/item/201302/03/20130203123231_eC4eF.gif"), size: "300x300", class: "img-circle" %>
  <div class="jumbotron">
    <h3>
      帮助页面
    </h3>
    <p>
    该网站是为了让人们更好的使用文档管理系统而搭建的。
    该网站的主要分为普通用户和管理员，普通用户只能查看文档信息，以及主要的内容。
    
    </p>
    
    <p>
      
    </p>

  </div>
</div>


