<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="jumbotron">
        <h1>
          欢迎来到我的文件管理系统
        </h1>

        <p>
          文件管理是操作系统的五大职能之一，主要涉及文件的逻辑组织和物理组织，目录的结构和管理。所谓文件管理 ....

        </p>

        <p>
          <a class="btn btn-primary btn-large" href="#">详细</a>
        </p>
      </div>
      <div class="row clearfix">


        <div>
          <%= link_to new_user_registration_url do %>
              <button class="btn-primary btn-lg">注册</button>
          <% end %>
          <%= link_to new_user_session_url do %>
              <button class="btn-danger btn-lg">登陆</button>
          <% end %>
          <%= link_to destroy_user_session_path do %>
              <button class="btn-danger btn-lg">注销</button>
          <% end %>
          <%= link_to new_attachment_url do %>
              <button class="btn-danger btn-lg">上传文件</button>
          <% end %>
        </div>
      </div>


    </div>
  </div>
</div>