<!DOCTYPE html>
<!-- saved from url=(0052)http://study.163.com/find.htm#/find/courselist?ct=-1 -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>全部学习资源 - 网易云课堂</title>
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache" max-age="0">
<meta http-equiv="Expires" content="0">
<meta name="author" content="Netease">
<meta name="version" content="1.0">
<meta name="keywords" content="课程、学习计划、技能图谱、真题、公务员、行测、申论、司法考试、一级建筑师、初级会计职称、注册会计师">
<meta name="description" content="描述">
<meta name="robots" content="all">
<meta property="wb:webmaster" content="766092f2bbf0c80d">
<meta property="qc:admins" content="22061604124161636375">
<meta name="baidu-site-verification" content="BYFmFBILbh">
<meta name="apple-itunes-app" content="app-id= 662809421">
<script type="text/javascript" async="" src="assets/ga.js"></script>
<script type="text/javascript">location.config = {"ver": {"studyPlan/planMain.html": "05b33763d862ec3b38d2168101eb0209", "studyPlan/planComment.html": "d2b817ac3c903285287bf853e4c7e5a7", "studyPlan/planDetail.html": "709ac30e5d854d1c1461d68f995f91f5", "about.html": "67726f6efbb8e87810963f3e006117dd", "skillTree/SkillTree.html": "290b2b21c4c5eab44af120636387c24d", "index.html": "6a54f6ba70b2e8999bbfc6df6e5eea7f", "ask/askLabelSearch.html": "a0ce5f18a98f81eea547e3e66ebcff1e", "ask/addAsk.html": "36dde805f0dda495333977f735f81f0a", "ask/askLabels.html": "99fac92cd43f8aff5a37f145872c208a", "ask/askIndex.html": "bd5f4906c4200c5aaf1ba38492f950e8", "ask/askDetail.html": "42df72d5fa24cff6010945c3ef35b83b", "addSnsMember.html": "cbf2aa4c54742620d097720ff97b1125", "course/courseDetail.html": "8151e5e3b0185562579032e4c93d8c9d", "course/courseNotice.html": "19e293a7805288fd7fdc2ebecf768db8", "course/find/corplist.html": "bae774622fafdf74801d41f852aaa29c", "course/find/searchlist.html": "8109776357419cef3b2bbe6b243b4386", "course/find/skill.html": "fd6003683968dcae928799a9cee74966", "course/find/find.html": "fbe112e5a0ee283662581cc0b23cb9ef", "course/courseLearn/courseLearn.html": "6e87f10c2be7e7379ec10e23f50ea21a", "course/courseLearn/courseToolbar.html": "d55da342824294ec21ba9c18130df60a", "course/courseLearn/toolbarChapterList.html": "5d288598396b4104c7ed440e3d0b98f4", "course/courseLearn/lessonText.html": "4600e2294cb2b444109c3c68d6d3e869", "course/courseLearn/lessonFlash.html": "f48f12e2f9a354f9f314d82319cf42d1", "course/courseLearn/lessonLab.html": "67255d73013ec974b45144112ffc20cd", "course/courseLearn/toolbarNotes.html": "339daeee94d6c14d45ee094c2381fd85", "course/courseLearn/toolbarAsk.html": "0f695819312c7b473e29585b487ac9de", "course/courseLearn/courseLearnPreview.html": "3d6b965717baba83c07228bd1ae8153a", "course/courseLearn/lessonVideoRes.html": "db2a91ebb4141d235907762e5106d754", "course/courseLearn/lessonTest.html": "020fd0ee3ba2365299890a194064d1ff", "course/courseMain.html": "604b121b7f6a4d0c036c10ca9df3b79a", "course/courseComment.html": "5d538e0d4b3d4c2bcc2771ce7bef3268", "courseCreate/viewCourse.html": "871ab569115ecaccb3cc120d022aa693", "courseCreate/create/courseCreate.html": "d8a58fd79830b1a3f185aed70d1ce13f", "courseCreate/baseInfo.html": "3425c4100f425ffefb18b97e882bc98b", "courseCreate/signProtocol.html": "75a1f5e8540281bab9f5986486f2d186", "courseCreate/otherSetting.html": "62542202b07e969db0f52243bda17889", "courseCreate/teacherInfo.html": "4f95c2c4193cd4706f1cede979d0bd8d", "courseCreate/edit/courseEdit.html": "adc7e74f2c35def48e56f0bed304e7dc", "courseCreate/edit/introduceVideo.html": "29c21638159734a26efbcc9b379b2589", "courseCreate/edit/serialization.html": "fd7cf3107c167e52a4a51053ee954278", "courseCreate/edit/courseCover.html": "8a3c08509b7fd5802646f16ea086df0b", "courseCreate/edit/publicNotice.html": "b264e233069ea92dd402f1ede9d324c4", "courseCreate/chapContent.html": "031bac59d3728fb9e02a00cc801601af", "activities/snsSpread.html": "4479a7157ca93482e60bdbd852358d9d", "activities/planpk.html": "eef09d5f946c8b57005c217d3099761d", "activities/feeCourse.html": "750f3c521292234a2811b2d37c0aede5", "activities/invitePage.html": "8867c165643ba0e2d6c9f7332c2d0fb0", "activities/bamei.html": "9009d11bef350b7e769245b286824fa3", "activities/liangzhishu.html": "ab0b951d2596ccc8ac1504d075cd3cf4", "login.html": "ad9597a35de025eff70f55cb679684a1", "logout.html": "3fd8c349df90b5c3a539e8888a6bf231", "independLogin.html": "6b102a8da45ef7f161cd2fe607c9b6c9", "personCenter/friends/centerFriends.html": "16440cddc4b5334494c3d201fc20c60a", "personCenter/course/personCourseAll.html": "240c6f2ca00ec48c3237f94725ae81a9", "personCenter/course/lectorCenterCourse.html": "2ab3202ab40f284574376f64a430fe66", "personCenter/course/orgCenterCourse.html": "6b43acb26c38b35261368322e00ef87e", "personCenter/personCenter.html": "3f1428c120dc3657d312509583c69d60", "personCenter/info/personInfoRead.html": "c590a4fcf570d8dc5b2a0e596cd1a2af", "message/msgList.html": "8997a585a106aa43986dd496d5d02426", "moc/courseList.html": "3818cd007ba72804c444dbe5d72fd3c3", "error/friendly404.html": "466b519761638e510c760eac7cee15d7", "error/error.html": "bcc2a58e051ec5f26fad50b224b32145", "sns/thirdShare/inviteShare.html": "dee4f95b8c7d3e01bbe60f0b46ed2f9f", "sns/thirdShare/registeredShare.html": "76820954329812083b78b49b2b4cc47a", "note/noteIndex.html": "f15e4979766cb1a8cbdf1ef38cf3476f", "note/noteDetail.html": "554ac15746828d4c7495040c11aedd52", "note/addNote.html": "01a0dbffba3972cc513c473fa99fb200", "addMember.html": "a6c127a1ea3a0f23c8bb4d6751f42ebb", "commonutil.html": "c623874531f42897f927a0a15204e3f8", "settings/settingsMessage.html": "379199d81eb0b4433185f18d1ad13ec2", "settings/settings.html": "87ead6ae6bf2aef3f1e3184d6acf784e", "settings/personInfoEdit.html": "145b7e1d27020d595323ab7d112fe340", "settings/settingsMail.html": "2ecf3fd954d095f615653e400cb5b4e6", "settings/settingsAccount.html": "b26428f7078e5d34c18bf86aed800280", "settings/settingsPrivacy.html": "56087b041158e49787bf4b48847eaf11", "myCloudClass/teacherControl/myCloudTeacher.html": "31a61084be0550fedb0b55a1fd048783", "myCloudClass/ask/myCloudMyFollow.html": "e3740a43b45d30b8542fed22de3c2e99", "myCloudClass/ask/myCloudMyReply.html": "ab54bfc706fd79344ce1e2b89b6a0399", "myCloudClass/ask/myCloudMyAsk.html": "f4e20ae8773cd8fe24429e48ec210901", "myCloudClass/ask/myCloudAsk.html": "65ed377deb3aee206e70874d573018a7", "myCloudClass/papers/myCloudMyPapersRecord.html": "dfa42dd05500b7f2f2ee8e44511a26ac", "myCloudClass/papers/myCloudMyPapersError.html": "7e5e35f97da2e980c0ee1db8e1b6b06e", "myCloudClass/papers/myCloudMyPapers.html": "9b61c106ac2bb867d3368b9f05498a6e", "myCloudClass/papers/myCloudMyPapersStore.html": "1aaa9122776a6b550b60b9daef9616e6", "myCloudClass/friends/myCloudFriends.html": "3f400293a7baf8c8903c29c14ed24816", "myCloudClass/store/myCloudStorePlan.html": "e94278bc0553fd9d9304455fcefd0fbf", "myCloudClass/store/myCloudStoreCourse.html": "208f75daf544ba643989c2b27ff8362c", "myCloudClass/plan/myCloudMyTask.html": "db9244f68be9cffb020c89efc33cb431", "myCloudClass/plan/myCloudCreatePlan.html": "61428479a129cbee8fe9ace4916f63ca", "myCloudClass/plan/myCloudMyPlan.html": "96bf51b629d709e95e10fac27748c8e8", "myCloudClass/course/myCloudMyCourse.html": "409e6d6f16b7d3d94115619ec30de99e", "myCloudClass/course/myCloudBuyedCourse.html": "8922deaaa1be63290653d80366c801a5", "myCloudClass/myCloudIndex.html": "531dc972ec0bd5d5104c18b56db1b6d4", "myCloudClass/myCloudClass.html": "5cb131b84c4ff7cb3b89d3993dd988e3", "myCloudClass/trade/myCloudTradingRecord.html": "b40a2941f3d4b0a42ad6d1a68513ff1b", "myCloudClass/myCloudOrgIndex.html": "7b848b74fa3a006d74ec63cbc514e0ef", "myCloudClass/notes/myCloudNotes.html": "d1ef22027f3842f30398b31b72c12757", "myCloudClass/notes/myCloudNotesAll.html": "3d7afc19285a5b790cb8b527c99b4d37", "myCloudClass/notes/myCloudNotesDetail.html": "2893f66ee3dfd25c6cf8f68cf6eefaa6", "question/repository.html": "45806033a5ce7dd2bf717b74371f88ac", "question/exam.html": "971689a5b4dda1305d6c743993cde164", "question/repolist.html": "176405bbdc95342510ab07e405db622e"}, "root": "/h/"};</script>
<script>     window.indexPrefix = "/";
window.loginPrefix = "/member/login.htm";
window.independLoginPrefix = "/member/independLogin.htm";
window.addMemberPrefix = "/member/addMemberInfo.htm";
window.myCloudClassPrefix = "/cloud/myCloudClass.htm";
window.findPrefix = "/find.htm";
window.courseIntroPrefix = "/course/introduction/{id}.htm";
window.courseMainPrefix = "/course/courseMain.htm";
window.corseLearnPrefix = "/course/courseLearn.htm";
window.planLearnPrefix = "/plan/planLearn.htm";
window.askIndexPrefix = "/ask/askIndex.htm";
window.addAskPrefix = "/ask/addAsk.htm";
window.editAskPrefix = "/ask/editAsk.htm";
window.askDetailPrefix = "/ask/askDetail/{id}.htm";
window.askLabelsPrefix = "/ask/getLabels.htm";
window.askSearchByLabelPrefix = "/ask/searchByLabel.htm";
window.msgListPrefix = "/message/msgList.htm";
window.findPwdPrefix = "http://reg.163.com/setinfo/ChangePasswd_1.jsp?username=";
window.settingsPrefix = "/user/setting.htm";
window.aboutPrefix = "/about/aboutus.htm";
window.notSupportedPrefix = "/common/errors/notSupported.htm";
window.skillTreePrefix = "/course/SkillTree.htm";
window.planMainPrefix = "/plan/planMain.htm";
window.planDetailPrefix = "/plan/planIntroduction/{id}.htm";
window.platform = "网易云课堂";
window.openurlPrefix = "http://open.163.com";
window.openvideoPrefix = "http://v.163.com";
window.noteIndexPrefix = "/note/noteIndex.htm";
window.noteDetailPrefix = "/note/noteDetail/{id}.htm";
window.addNotePrefix = "/note/addNote.htm";
window.editNotePrefix = "/note/editNote.htm";
window.courseCreatePrefix = "/course/addCourse.htm";
window.courseEditPrefix = "/course/editCourse.htm";
window.viewCoursePrefix = "/course/viewCourse.htm";
window.inviteFriendsPrefix = "/thirdshare/inviteFriends.htm";
inviteLoginFriendsPrefix = "/thirdshare/inviteFriendsAfterLogin.htm";
window.snsOAuthPrefix = "/sns/doOAuth.htm";
window.snsSpreadPrefix = "/activities/snsSpread.htm";
window.downloadPrefix = "/client/download.htm";
window.repoPrefix = "/question/repolist.htm";
window.questionAnswerPrefix = "/question/answer/{id}.htm";
window.questionExamPrefix = "/question/exam/{id}.htm";
window.questionRepositoryPrefix = "/question/repository/{id}.htm";
window.examEntrancePrefix = "/activities/examEntrance.htm";
window.mocPrefix = "http://www.icourse163.org";
window.mocListPrefix = "/moc/find.htm";
window.moccourseinfoprefix = "http://www.icourse163.org/course/";
window.moccourseLearnPrefix = "http://www.icourse163.org/learn/";
window.mailStudyHost = "mailapp.study.163.com";
window.serverTimeDiff = new Date().getTime() - 1399293298718;
window.webUser = {        id: "658673", nickName: "1035611720", accountType: "0", state: "2", corpUser: "false", roles: [                              "ROLE_LEARNER"                      ], passport: "1035611720@qq.com", personalUrlPrefix: "http://study.163.com/u/", personalUrlSuffix: "849670682", loginId: "1035611720@qq.com", loginType: "-1", email: "1035611720@qq.com", end_key: "end_value"     };
window.announce = {                            };
window.imageUrlMap = {         loading_circle_gif: "http://s.stu.126.net/res/images/ui/loading_circle.gif?00ef871b291bc03a497d608a5bd8ec99", audio_loading_gif: "http://s.stu.126.net/res/images/ui/audio_loading.gif?c5316369801b0878b19c353d2177e6ba", audio_playing_gif: "http://s.stu.126.net/res/images/ui/audio_playing.gif?efcc786623d48cd7aab7fe71cfdaea33", sideui_sprite: "http://s.stu.126.net/res/images/ui/sideui.png?11463b6b0b8489f5d981085e8f405324", weixinqrcode: "http://s.stu.126.net/res/images/qrcode/weixin.png?19d6c1f8256c44613278a71b4c7c14a2", yixinqrcode: "http://s.stu.126.net/res/images/qrcode/yixin.png?b8284939a985b5f59aabbcc65ac07637", share_sprite: "http://s.stu.126.net/res/images/ui/shareUI.png?af4e2637feb3165cff8f5c012f52710c", friends_sprite: "http://s.stu.126.net/res/images/ui/friendsUI.png?a2e31c5ca26876d0b49a459ad821a6f0", ui_sprite: "http://s.stu.126.net/res/images/ui/ui_sprite.png?289a9a7a40d8fed32e43daf4cb8045d0", courselearn_sprite: "http://s.stu.126.net/res/images/courseLearn.png?c01a1024f2fc02764615b063ebdda730", note_sprite: "http://s.stu.126.net/res/images/note.png?405fb5255fe7d54640ace8ab1a0828c5", course_image: "http://s.stu.126.net/res/images/defaultPlanPic.png", setting_sprite: "http://s.stu.126.net/res/images/settings.png?7476cac4539a3d54d51cf3c13263861f", head_small_img: "http://s.stu.126.net/res/images/headImg/small.jpg", head_big_img: "http://s.stu.126.net/res/images/headImg/big.jpg", org_default_img: "http://s.stu.126.net/res/images/headImg/orgDefault.png", snsSpread_share_img: "http://s.stu.126.net/res/images/activities/snsSpread/siteSpreadShare.png?fa96f8a136958ca36cde17658719f61c", question_ui_img: "http://s.stu.126.net/res/images/question/ui_question.png?a2a90d6702c600cc5523d3d971309eca", image_upload_swf: "http://s.stu.126.net/res/swf/imageUpload.swf?3a111376ed811485d89bd5215b3df7d4", image_pdf_swf: "http://s.stu.126.net/res/swf/pdfReader.swf?46f67ec609ab49d4ccafd059daba26fe", image_video_swf: "http://s.stu.126.net/res/swf/CloudPlayer.swf", skill_topology_swf: "http://s.stu.126.net/res/swf/SkillTopology.swf?6777c75dde28330db569f3652ad47048", img_upd_select_swf: "http://s.stu.126.net/res/swf/DragCutUpload.swf?0aa5fce721ed799ead416958e66aa05c", img_upd_select_course_swf: "http://s.stu.126.net/res/swf/DragCutUpload_course.swf?b09e3751a4c9675037237c0239c56765", audio_player_swf: "http://s.stu.126.net/res/swf/AudioPlayer.swf?a4e6a1665da60d1a1ca89169e41b63a4", lottery_swf: "http://s.stu.126.net/res/swf/Lottery.swf?91cd897b9c7fddd83e229d17bae2839f", feeCourselottery_swf: "http://s.stu.126.net/res/swf/feeCourseLottery.swf?9eec031c65d5119db81fd0901bb692f1"    } </script>
<script type="text/javascript">       window.gaTrackPageview = '_trackPageview';
window.gaTrackEvent = '_trackEvent';
window.gaqStr = '_gaq';
﻿
var _ua = (window.location.host == window.mailStudyHost ? 'UA-35176345-4' : 'UA-35176345-1');
window._gaq = [];
window._gaq.push(['_setAccount', _ua], ['_setLocalGifPath', '/' + _ua + '/__utm.gif'], ['_setLocalRemoteServerMode']);
window._gaq.push(['_addOrganic', 'baidu', 'word']);
window._gaq.push(['_addOrganic', 'soso', 'w']);
window._gaq.push(['_addOrganic', 'sogou', 'query']);
(function () {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = 'http://wr.da.netease.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
})();
</script>
<link href="/assets/core.css" type="text/css" rel="stylesheet">
<style type="text/css"></style>
<style id="clearly_highlighting_css" type="text/css">/* selection */
html.clearly_highlighting_enabled ::-moz-selection {
    background: rgba(246, 238, 150, 0.99);
}

html.clearly_highlighting_enabled ::selection {
    background: rgba(246, 238, 150, 0.99);
}

/* cursor */
html.clearly_highlighting_enabled {
    /* cursor and hot-spot position -- requires a default cursor, after the URL one */
    cursor: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--cursor.png") 14 16, text;
}

/* highlight tag */
em.clearly_highlight_element {
    font-style: inherit !important;
    font-weight: inherit !important;
    background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--yellow.png");
    background-repeat: repeat-x;
    background-position: top left;
    background-size: 100% 100%;
}

/* the delete-buttons are positioned relative to this */
em.clearly_highlight_element.clearly_highlight_first {
    position: relative;
}

/* delete buttons */
em.clearly_highlight_element a.clearly_highlight_delete_element {
    display: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    line-height: 0;
    position: absolute;
    width: 34px;
    height: 34px;
    left: -17px;
    top: -17px;
    background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--delete-sprite.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

em.clearly_highlight_element a.clearly_highlight_delete_element:hover {
    background-position: -34px 0px;
}

/* retina */
@media (min--moz-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    em.clearly_highlight_element {
        background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--yellow@2x.png");
    }

    em.clearly_highlight_element a.clearly_highlight_delete_element {
        background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--delete-sprite@2x.png");
        background-size: 68px 34px;
    }
} </style>
<script></script>
<script></script>
<style type="text/css">.loading-mask {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    filter: alpha(opacity=40);
    background-image: url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
    position: fixed;
    _position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.ui-tips {
    padding: 10px 15px 10px 40px;
    background: #21a557 url(http://s.stu.126.net/res/images/ui/ui_sprite2.png?27e55dce6345c06b1565c1a4401d2a36) no-repeat 7px 8px;
    box-shadow: 3px 3px 3px #CCC;
}

.ui-tips.type2 {
    background: #ffffcc url(http://s.stu.126.net/res/images/ui/ui_sprite2.png?27e55dce6345c06b1565c1a4401d2a36) no-repeat 7px -40px;
}

.ui-tips, .ui-tips span {
    line-height: 16px;
    color: #fff;
    font-family: '微软雅黑'
}

.ui-tips.type2, .ui-tips.type2 span {
    color: #333;
}

.ui-tips img {
    float: left;
}

.ui-tips span {
    float: left;
    padding-left: 4px;
    display: block;
    height: 16px;
}</style>
<style type="text/css">.auto-1399293299139 {
    padding: 5px 0 5px 15px;
    font-size: 12px;
    line-height: 16px;
}

.auto-1399293299139 .warningbox {
    color: #cc3333;
}

.auto-1399293299139 .warningbox .warning {
    float: left;
    line-height: 22px;
}

.auto-1399293299139 .warningbox .wrong {
    float: left;
    background: url(http://s.stu.126.net/res/images/settings.png?7476cac4539a3d54d51cf3c13263861f) no-repeat -40px -40px;
    height: 20px;
    width: 20px;
}

.auto-1399293299139 .warningbox .warn {
    float: left;
    background: url(http://s.stu.126.net/res/images/settings.png?7476cac4539a3d54d51cf3c13263861f) no-repeat 0 -40px;
    height: 20px;
    width: 20px;
}

.auto-1399293299139 .warningbox .right {
    float: left;
    background: url(http://s.stu.126.net/res/images/settings.png?7476cac4539a3d54d51cf3c13263861f) no-repeat -20px -40px;
    height: 20px;
    width: 20px;
}

.auto-1399293299139 .warningbox .normal {
    float: left;
    background: url(http://s.stu.126.net/res/images/settings.png?7476cac4539a3d54d51cf3c13263861f) no-repeat -61px -42px;
    height: 20px;
    width: 20px;
}

.auto-1399293299139 .loadingbox {
    color: #999;
}

.auto-1399293299139 .loadingbox .loading {
    float: left;
    line-height: 22px;
}

.auto-1399293299139 .loadingbox .icon {
    float: left;
    background: url(http://s.stu.126.net/res/images/ui/loading_circle.gif?00ef871b291bc03a497d608a5bd8ec99) no-repeat 0 0;
    height: 16px;
    width: 20px;
}

.u-usrAttStatis, .u-usrAttStatis .link {
    font: 12px/18px '宋体';
    color: #666;
}

.u-usrAttStatis .num {
    font-family: Arial, Helvetica, sans-serif;
}

.u-usrAttStatis .link:hover {
    color: #21a557;
    text-decoration: none;
}

.u-usrAttStatis.noLink .link:hover {
    color: #666;
    text-decoration: none;
    cursor: default;
}

.u-usrAttStatis .str {
    padding-right: 6px;
}

.u-usrAttOp {
    background: url(http://s.stu.126.net/res/images/ui/friendsUI.png?a2e31c5ca26876d0b49a459ad821a6f0) no-repeat;
    width: 54px;
    height: 21px;
    text-align: left;
    font: 12px/21px '宋体';
}

.u-usrAttOp.j-active {
    color: #fff;
    background-position: 0 0;
    cursor: pointer;
    padding-left: 22px;
    width: 32px;
}

.u-usrAttOp-white.j-active {
    background-position: 0 -60px;
    color: #333;
}

.u-usrAttOp.j-active:hover {
    background-position: 0 -30px;
    color: #fff;
}

.u-usrAttOp.j-disable {
    color: #333;
    cursor: default;
    padding-left: 23px;
}

.u-usrAttOp.j-disable-1 {
    background-position: 0 -90px;
    width: 83px;
}

.u-usrAttOp.j-disable-3 {
    background-position: 0 -120px;
    width: 96px;
}

.u-usrAttOp .sep {
    color: #ccc;
}

.u-usrAttOp .op {
    color: #999;
    padding-right: 7px;
}

.u-usrAttOp .op:hover, .u-usrattop .op:active {
    color: #21a557;
    text-decoration: underline;
}

.auto-1399293299142 {
    position: fixed;
    _position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
}

.auto-1399293299143 {
    position: absolute;
    z-index: 1000;
    border: 1px solid #aaa;
    background: #fff;
}

.auto-1399293299143 .zbar {
    line-height: 30px;
    background: #8098E7;
    border-bottom: 1px solid #aaa;
}

.auto-1399293299143 .zcnt {
    padding: 10px 5px;
}

.auto-1399293299143 .zttl {
    margin-right: 20px;
    text-align: left;
}

.auto-1399293299143 .zcls {
    position: absolute;
    top: 5px;
    right: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

.auto-1399293299144 {
    font-size: 12px;
    line-height: 160%;
}

.auto-1399293299144 a {
    margin: 0 2px;
    padding: 2px 8px;
    color: #333;
    border: 1px solid #aaa;
    text-decoration: none;
}

.auto-1399293299144 .js-disabled {
    cursor: default;
}

.auto-1399293299144 .js-selected {
    cursor: default;
    background: #bbb;
}

.auto-1399293299145 .item-highlight {
    background: #E0F2E2;
}

.auto-1399293299145 .m-data-lists {
    position: relative;
    z-index: 100;
}

.auto-1399293299145 .ui-pager {
    position: relative;
    z-index: 99;
}

.u-share {
}

.u-share a {
    display: block;
    padding-left: 16px;
    height: 16px;
    float: left;
    margin-left: 4px;
    line-height: 12px;
    font-size: 12px;
}

.u-share .netease, .u-share .sina, .u-share .kaixin, .u-share .renren, .u-share .douban {
    background: url(http://s.stu.126.net/res/images/ui/shareUI.png?af4e2637feb3165cff8f5c012f52710c) no-repeat;
}

.u-share .netease {
    background-position: 1px -30px;
}

.u-share .sina {
    background-position: 1px 1px;
}

.u-share .renren {
    background-position: 1px -149px;
}

.u-share .kaixin {
    background-position: 1px -180px;
}

.u-share .douban {
    background-position: 1px -58px;
}

.u-share .solo {
    width: 0px;
    text-indent: -9999px;
    overflow: hidden;
}

.auto-1399293299147 {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: relative;
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #DFDFDF;
    -webkit-box-shadow: inset 1px 1px 2px #DFDFDF;
    -moz-box-shadow: inset 1px 1px 2px #dfdfdf;
    box-shadow: inset 1px 1px 2px #DFDFDF;
}

.auto-1399293299147 .inputtxt {
    width: 100%;
    height: 100%;
    font-size: 12px;
    line-height: 23px;
    background: transparent;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
    resize: none
}

.auto-1399293299147 .inputhint {
    font-size: 12px;
    color: #ccc;
    position: absolute;
    top: 10px;
    left: 10px;
}

.auto-1399293299148 {
    width: 100%;
    background: #ffffcc;
}

.auto-1399293299148 .icon {
    margin: 7px 7px 0 15px;
    width: 18px;
    height: 18px;
    background: url(http://s.stu.126.net/res/images/ui/ui_sprite.png?289a9a7a40d8fed32e43daf4cb8045d0) 0 -779px no-repeat;
}

.auto-1399293299148 .text {
    margin-left: 7px;
    width: 90%;
    color: #333;
    font-size: 14px;
    line-height: 32px;
    font-family: "微软雅黑";
}

.auto-1399293299148 a {
    color: #10ae58;
}

.auto-1399293299148 a:hover {
    text-decoration: underline;
}

.auto-1399293299148 .close {
    margin: 10px 10px 0 0;
    cursor: pointer;
    width: 12px;
    height: 12px;
    background: url(http://s.stu.126.net/res/images/ui/ui_sprite.png?289a9a7a40d8fed32e43daf4cb8045d0) -9px -11px no-repeat;
}

.auto-1399293299149 {
    padding: 20px;
    background-color: #fff;
    word-wrap: break-word;
    white-space: pre-line;
}

.auto-1399293299150 iframe {
    background: #fff;
}

.auto-1399293299151 {
    width: 500px;
    border: 1px solid #ddd;
    text-align: center;
}

.auto-1399293299151 .zbg {
    background: url(/res/nej_editor.png) no-repeat 100px 100px;
}

.auto-1399293299151 .ztbar {
    height: 30px;
    background-color: #eee;
    zoom: 1;
}

.auto-1399293299151 .ztbar:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    content: ".";
}

.auto-1399293299151 .zitm {
    float: left;
    width: 24px;
    height: 24px;
    margin: 3px 0;
    course: pointer;
}

.auto-1399293299151 .zitm:hover {
    background-position: 0 0;
}

.auto-1399293299151 .zitm.js-selected {
    background-position: -30px 0;
}

.auto-1399293299151 .zitm .zicn {
    width: 16px;
    height: 16px;
    margin: 4px auto 0;
    overflow: hidden;
    text-indent: 100px;
}

.auto-1399293299151 .zitm .ztxt {
    display: none;
}

.auto-1399293299151 .zisp {
    float: left;
    width: 10px;
    height: 24px;
    margin: 3px 0;
    background-position: -60px 0;
    overflow: hidden;
}

.auto-1399293299151 .zsel {
    float: left;
    position: relative;
    height: 20px;
    overflow: hidden;
    line-height: 20px;
    padding: 0 5px;
    margin: 4px;
    border: 1px solid #C5C5C5;
    background: #fff;
    font-size: 12px;
    text-align: left;
    cursor: pointer;
}

.auto-1399293299151 .zsel .zarw {
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
    background-position: 0px -244px;
}

.auto-1399293299151 .zsel.zfs {
    width: 60px;
}

.auto-1399293299151 .zsel.zfm {
    width: 140px;
}

.auto-1399293299151 .zarea {
    height: 200px;
}

.auto-1399293299151 .zarea iframe {
    width: 100%;
    height: 100%;
}

.auto-1399293299151 .z-i-00 {
    background-position: -0px -40px;
}

.auto-1399293299151 .z-i-01 {
    background-position: -16px -40px;
}

.auto-1399293299151 .z-i-02 {
    background-position: -32px -40px;
}

.auto-1399293299151 .z-i-10 {
    background-position: -0px -56px;
}

.auto-1399293299151 .z-i-11 {
    background-position: -16px -56px;
}

.auto-1399293299151 .z-i-12 {
    background-position: -32px -56px;
}

.auto-1399293299151 .z-i-20 {
    background-position: -0px -72px;
}

.auto-1399293299151 .z-i-21 {
    background-position: -16px -72px;
}

.auto-1399293299151 .z-i-22 {
    background-position: -32px -72px;
}

.auto-1399293299151 .z-i-30 {
    background-position: -0px -88px;
}

.auto-1399293299151 .z-i-31 {
    background-position: -16px -88px;
}

.auto-1399293299151 .z-i-32 {
    background-position: -32px -88px;
}

.auto-1399293299151 .z-i-40 {
    background-position: -0px -104px;
}

.auto-1399293299151 .z-i-41 {
    background-position: -16px -104px;
}

.auto-1399293299151 .z-i-42 {
    background-position: -32px -104px;
}

.auto-1399293299151 .z-i-50 {
    background-position: -0px -120px;
}

.auto-1399293299151 .z-i-51 {
    background-position: -16px -120px;
}

.auto-1399293299151 .z-i-52 {
    background-position: -32px -120px;
}

.auto-1399293299151 .z-i-60 {
    background-position: -0px -136px;
}

.auto-1399293299151 .z-i-61 {
    background-position: -16px -136px;
}

.auto-1399293299151 .z-i-62 {
    background-position: -32px -136px;
}

.auto-1399293299151 .z-i-70 {
    background-position: -0px -152px;
}

.auto-1399293299151 .z-i-71 {
    background-position: -16px -152px;
}

.auto-1399293299151 .z-i-72 {
    background-position: -32px -152px;
}

.auto-1399293299151 .z-i-80 {
    background-position: -0px -168px;
}

.auto-1399293299151 .z-i-81 {
    background-position: -16px -168px;
}

.auto-1399293299151 .z-i-82 {
    background-position: -32px -168px;
}

.auto-1399293299151 .z-i-90 {
    background-position: -0px -184px;
}

.auto-1399293299151 .z-i-91 {
    background-position: -16px -184px;
}

.auto-1399293299151 .z-i-92 {
    background-position: -32px -184px;
}

.auto-1399293299151 .z-i-100 {
    background-position: -0px -200px;
}

.auto-1399293299151 .z-i-101 {
    background-position: -16px -200px;
}

.auto-1399293299151 .z-i-102 {
    background-position: -32px -200px;
}

.auto-1399293299151 .z-i-110 {
    background-position: -0px -216px;
}

.auto-1399293299151 .z-i-111 {
    background-position: -16px -216px;
}

.auto-1399293299151 .z-i-112 {
    background-position: -32px -216px;
}

.auto-1399293299151 .z-i-120 {
    background-position: -0px -232px;
}

.auto-1399293299151 .z-i-121 {
    background-position: -16px -232px;
}

.auto-1399293299151 .z-i-122 {
    background-position: -32px -232px;
}

.auto-1399293299151 .z-i-130 {
    background-position: -0px -248px;
}

.auto-1399293299151 .z-i-131 {
    background-position: -16px -248px;
}

.auto-1399293299151 .z-i-132 {
    background-position: -32px -248px;
}

.auto-1399293299151 .z-i-140 {
    background-position: -0px -264px;
}

.auto-1399293299151 .z-i-141 {
    background-position: -16px -264px;
}

.auto-1399293299151 .z-i-142 {
    background-position: -32px -264px;
}

.auto-1399293299151 .z-i-150 {
    background-position: -0px -280px;
}

.auto-1399293299151 .z-i-151 {
    background-position: -16px -280px;
}

.auto-1399293299151 .z-i-152 {
    background-position: -32px -280px;
}

.auto-1399293299151 .z-i-160 {
    background-position: -0px -296px;
}

.auto-1399293299151 .z-i-161 {
    background-position: -16px -296px;
}

.auto-1399293299151 .z-i-162 {
    background-position: -32px -296px;
}

.auto-1399293299151 .z-i-170 {
    background-position: -0px -312px;
}

.auto-1399293299151 .z-i-171 {
    background-position: -16px -312px;
}

.auto-1399293299151 .z-i-172 {
    background-position: -32px -312px;
}

.auto-1399293299151 .z-i-180 {
    background-position: -0px -328px;
}

.auto-1399293299151 .z-i-181 {
    background-position: -16px -328px;
}

.auto-1399293299151 .z-i-182 {
    background-position: -32px -328px;
}

.auto-1399293299151 .z-i-190 {
    background-position: -0px -344px;
}

.auto-1399293299151 .z-i-191 {
    background-position: -16px -344px;
}

.auto-1399293299151 .z-i-192 {
    background-position: -32px -344px;
}

.auto-1399293299152 {
    position: absolute;
    background: #fff;
}

.auto-1399293299153 {
    border: 1px solid #9FAC87;
    font-size: 12px;
    text-align: left;
}

.auto-1399293299153 .zitm {
    display: block;
    position: relative;
    margin: 1px;
    outline: none;
    padding: 2px 0 2px 8px;
    border: 1px solid #ddd;
    color: #000;
    background-color: #fff;
    text-decoration: none;
}

.auto-1399293299153 .zitm:hover {
    background-color: #e5e5e1;
    text-decoration: none;
}

.auto-1399293299153 .zitm .ztip {
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 10px;
}

.auto-1399293299154 {
    width: 110px;
}

.auto-1399293299155 {
    width: 150px;
    font-size: 16px;
}

.auto-1399293299156 {
    width: 160px;
    margin: 0 auto;
    overflow: hidden;
    -webkit-user-select: none;
}

.auto-1399293299156 .zbg {
    background: url(/res/nej_color_btn.png) no-repeat -50px -50px;
}

.auto-1399293299156 .zwrp {
    position: relative;
    padding: 3px;
    zoom: 1;
    cursor: default;
    font-size: 1px;
}

.auto-1399293299156 .zwrp .zdot {
    position: absolute;
    top: 0;
    left: 0;
    height: 9px;
    overflow: hidden;
}

.auto-1399293299156 .zwrp .zshw {
    height: 104px;
    border: 1px solid #bdbabd;
}

.auto-1399293299156 .zpnl {
    float: left;
}

.auto-1399293299156 .zpnl .zdot {
    width: 9px;
    background-position: 0 0;
}

.auto-1399293299156 .zpnl .zshw {
    width: 104px;
    background: url(/res/nej_color.png) no-repeat;
}

.auto-1399293299156 .zhlt {
    float: right;
    padding: 3px 7px;
}

.auto-1399293299156 .zhlt .zdot {
    width: 44px;
    background-position: 0 -30px;
}

.auto-1399293299156 .zhlt .zshw {
    width: 26px;
    background: url(/res/nej_color_mask.png) repeat-x;
}

.auto-1399293299157 .zbx {
    background: url(/res/nej_color_btn.png) no-repeat -50px -50px;
}

.auto-1399293299157 .zinf {
    width: 160px;
    margin: 0 auto;
    padding-bottom: 2px;
    overflow: hidden;
    font-size: 12px;
}

.auto-1399293299157 .zinf .zfl {
    float: left;
}

.auto-1399293299157 .zinf .zes {
    width: 19px;
    height: 19px;
    margin: 0 2px 0 3px;
    background-position: -22px 0;
    cursor: pointer;
}

.auto-1399293299157 .zinf .zpv {
    width: 17px;
    height: 17px;
    border: 1px solid #bdbabd;
}

.auto-1399293299157 .zinf .ztxt {
    width: 56px;
    height: 13px;
    line-height: 13px;
}

.auto-1399293299157 .zinf .zbtn {
    width: 49px;
    height: 20px;
    line-height: 20px;
    padding: 0;
    cursor: pointer;
}

.auto-1399293299158 {
    width: 160px;
    padding: 10px 5px 5px;
    border: 1px solid #9FAC87;
}

.auto-1399293299159 {
    padding: 20px 20px 32px 20px;
}

.auto-1399293299159 .u-title {
    color: #ccc;
    height: 35px;
    line-height: 35px;
    margin: 0 8px 0 10px;
}

.auto-1399293299159 .u-row {
    margin-bottom: 10px;
}

.auto-1399293299159 .u-error {
    color: red;
    padding-top: 10px;
}

.auto-1399293299159 .u-edit {
    position: relative;
    z-index: 101;
    background: #FAFAFA;
    border: 1px solid #DFDFDF;
    -webkit-box-shadow: inset 1px 1px 2px #DFDFDF;
    -moz-box-shadow: inset 1px 1px 2px #dfdfdf;
    box-shadow: inset 1px 1px 2px #DFDFDF;
}

.auto-1399293299159 .ipt {
    display: block;
    font-size: 14px;
    position: relative;
    z-index: 101;
    line-height: 35px;
    height: 35px;
    width: 290px;
    resize: none;
    background: transparent;
    border: none;
    color: #444;
    overflow: hidden;
}

.auto-1399293299160 {
}

.auto-1399293299160 .m-iframe {
    position: absolute;
    height: 0px;
    width: 0px;
    left: -9000px;
}

.auto-1399293299160 .u-upload-file {
    height: 0px;
    width: 0px;
    font-size: 0px;
}

.auto-1399293299160 .u-error {
    color: red;
    padding-top: 10px;
}

.auto-1399293299160 .choose_file {
    position: relative;
    margin-bottom: 10px;
}

.auto-1399293299160 .choose_file object {
    position: absolute;
    left: 0;
    top: 0;
}

.auto-1399293299160 .web_img {
    margin-bottom: 8px;
}

.auto-1399293299160 .web_img .u-edit {
    margin-bottom: 10px;
}

.auto-1399293299160 .u-desc {
    color: #ccc;
}

.auto-1399293299160 .u-image {
    width: 0px;
    height: 0px;
    visibility: hidden;
}

.auto-1399293299161-parent {
    position: absolute;
    left: -1px;
    border: 1px solid #d5d5d5;
    width: 100%;
    background: #FAFAFA;
    z-index: 999;
}

.auto-1399293299161-parent .j-cnt {
    width: 100%;
    color: #444;
    visibility: hidden;
}

.auto-1399293299161-parent .zitm-top {
    width: 100%;
    text-indent: 6px;
    line-height: 32px;
    cursor: pointer;
}

.auto-1399293299161-parent .zitm, .auto-1399293299161-parent .zitm p {
    width: 100%;
    text-indent: 6px;
    line-height: 32px;
    cursor: pointer;
}

.auto-1399293299161-parent .zitm a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px
}

.auto-1399293299161-parent .zitm:hover, .auto-1399293299161-parent .zitm:hover p {
    color: #10ae58;
    background-color: #ECECEE;
}

.auto-1399293299161-parent .js-selected, .auto-1399293299161-parent .js-selected p {
    color: #10ae58;
    background-color: #ECECEE;
}

.auto-1399293299162 div {
    text-align: left;
}

.auto-1399293299162 .area {
    float: left;
}

.auto-1399293299162 .infobox {
    float: left;
    margin-top: 5px;
}

.auto-1399293299163 {
    width: 210px;
    border: 1px solid #aaa;
    font-size: 14px;
    text-align: center;
}

.auto-1399293299163 .zact {
    line-height: 30px;
    overflow: hidden;
    zoom: 1;
}

.auto-1399293299163 .zact .zfl {
    float: left;
}

.auto-1399293299163 .zact .zfr {
    float: right;
}

.auto-1399293299163 .zact .zbtn {
    padding: 0 5px;
    cursor: pointer;
}

.auto-1399293299163 .zact .ztxt {
    margin-left: 10px;
}

.auto-1399293299163 .zday {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

.auto-1399293299163 .zday th {
    font-weight: normal;
}

.auto-1399293299163 .zday a {
    display: block;
    height: 22px;
    line-height: 22px;
    color: #333;
    text-decoration: none;
}

.auto-1399293299163 .zday a:hover {
    background: #eee;
}

.auto-1399293299163 .zday a.js-extended {
    color: #aaa;
}

.auto-1399293299163 .zday a.js-selected, .auto-1399293299163 .zday a.js-selected:hover {
    background: #DAE4E7;
}

.auto-1399293299163 .zday a.js-disabled, .auto-1399293299163 .zday a.js-disabled:hover {
    background: #fff;
    color: #eee;
    cursor: default;
}

.auto-1399293299164 .pictri {
    position: relative;
    z-index: 200;
    width: 15px;
    height: 9px;
    background: url(http://s.stu.126.net/res/images/note.png?405fb5255fe7d54640ace8ab1a0828c5) -4999px -4999px no-repeat;
}

.auto-1399293299164.cutPic .pictri {
    background-position: -24px -160px;
    margin-left: 8px;
}

.auto-1399293299164.cutPic .previewbox {
    background: #fff;
    border: 1px solid #d7c9af;
}

.auto-1399293299164.updPic .pictri {
    background-position: -100px -193px;
    margin-left: 34px;
}

.auto-1399293299164.updPic .previewbox {
    background: #fff;
    border: 1px solid #ccc;
}

.auto-1399293299164 .previewbox {
    position: relative;
    z-index: 199;
    margin-top: -2px;
}

.auto-1399293299164 .previewbox .close {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    width: 12px;
    height: 12px;
    background: url(http://s.stu.126.net/res/images/ui/ui_sprite.png?289a9a7a40d8fed32e43daf4cb8045d0) -9px -11px no-repeat;
}

.auto-1399293299164 .previewbox .imgbox {
    padding: 30px 5px 10px 5px;
}

.auto-1399293299164 .previewbox .imgbox img {
    max-width: 250px;
    max-height: 250px;
}

.auto-1399293299165 {
    position: relative;
}

.auto-1399293299165 .cutbtn {
    margin: 0 5px 0 2px;
    cursor: pointer;
    width: 20px;
    height: 18px;
    background: url(http://s.stu.126.net/res/images/note.png?405fb5255fe7d54640ace8ab1a0828c5) -23px -118px no-repeat;
}

.auto-1399293299165 .cutbtn:hover {
    background-position: -1px -498px;
}

.auto-1399293299165 .imgprebox {
    position: absolute;
    top: 20px;
    left: 0px;
}

.auto-1399293299166 {
    position: relative;
}

.auto-1399293299166 .imgprebox {
    position: absolute;
    top: 20px;
    left: 0px;
}

.u-related {
    margin: 0 0 15px;
}

.u-related .infoBox {
    border-top: 1px solid #dfdfdf;
}

.u-related .line {
    width: 245px;
    height: 1px;
    margin: 0 auto;
    border-top: 1px solid #dfdfdf;
}

.u-related .rItem {
    padding: 10px 20px;
    width: 223px;
}

.u-related .rItem:hover {
    background-color: #fafafa;
}

.u-related .rItem p {
    line-height: 21px;
    *line-height: 19px;
}

.u-related .rItem .star {
    font-size: 12px;
    color: #999;
    margin: 2px 0 1px;
}

.u-related .rItem .users {
    background: url("/res/images/ui/ui_sprite.png") no-repeat -60px -348px;
    padding-left: 15px;
    font-size: 12px;
    color: #999;
}

.u-related .rItem .author {
    font-size: 13px;
    color: #666;
}

.u-related .rItem p .learning {
    display: inline-block;
    height: 20px;
    *height: 18px;
    text-align: center;
    padding: 1px 5px;
    color: #5a5a5a;
    background-color: #e8ebf0;
    font-size: 13px;
}

.u-related .rItem p .status-learn {
    color: #999;
    background-color: #e8ebf0;
}

.u-related .rItem p.price .d {
    margin-left: 10px;
    text-decoration: line-through;
    color: #666;
    font-size: 12px;
}

.u-related .rItem .tit {
    font-family: "微软雅黑";
    font-size: 15px;
    margin: 0 8px 0 0;
    word-wrap: break-word;
    white-space: pre-line;
}

.auto-1399293299168 div {
    text-align: left;
}

.auto-1399293299168 .input {
    float: left;
}

.auto-1399293299168 .m-baseinputui .inputtxt {
    line-height: 24px;
    overflow: hidden;
}

.auto-1399293299168 .infobox {
    float: left;
}

.auto-1399293299169 div {
    text-align: left;
}

.auto-1399293299169 .imgbox {
    float: left;
    width: 120px;
    height: 120px;
    border: 1px solid #dfdfdf;
}

.auto-1399293299169 .img {
    width: 100%;
    height: 100%;
}

.auto-1399293299169 .infobox {
    float: left;
    margin-left: 10px;
}

.auto-1399293299169 .infobox .info {
    color: #999;
    font-size: 12px;
}

.auto-1399293299169 .infobox .opt {
    margin-top: 10px;
}

.auto-1399293299169 .infobox .opt .uploadbox {
    float: left;
}

.auto-1399293299169 .infobox .opt .feedbox {
    float: left;
}

.auto-1399293299170 .testing {
    height: 27px;
    width: 32px;
    background: url(http://s.stu.126.net/res/images/ui/audio_playing.gif?efcc786623d48cd7aab7fe71cfdaea33) no-repeat 1px 1px;
}

.auto-1399293299170 .endtesting {
    height: 27px;
    width: 32px;
    background: url(http://s.stu.126.net/res/images/ui/ui_sprite.png?289a9a7a40d8fed32e43daf4cb8045d0) no-repeat -51px -1594px;
}

.auto-1399293299170 .analysis {
    height: 24px;
}

.auto-1399293299170 .txtinfo {
    height: 24px;
    line-height: 24px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #999;
    padding: 0 5px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 4px 0 0 4px;
    border-right: none;
}

.auto-1399293299170 .playbar {
    height: 24px;
    background-color: #f2f2f5;
    width: 0px;;
    border: 1px solid #ddd;
    border-right: none;
}

.auto-1399293299170 .allbar {
    margin: 9px 5px;
    height: 6px;
    width: 0px;
    background-color: #ccc
}

.auto-1399293299170 .normalborder {
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
}

.auto-1399293299170 .duration {
    height: 24px;
    line-height: 24px;
    width: 0px;
    background-color: #f2f2f5;
    color: #aaa;
}

.auto-1399293299170 .curbar {
    height: 6px;
    width: 0%;
    background-color: #21a557;
}

.auto-1399293299170 .showloading {
    height: 24px;
    width: 24px;
    border: 1px solid #ddd;
    border-radius: 0 4px 4px 0;
    background: url(http://s.stu.126.net/res/images/ui/audio_loading.gif?c5316369801b0878b19c353d2177e6ba) no-repeat 1px -1px;
    background-color: #f2f2f5;
    cursor: pointer;
}

.auto-1399293299170 .playbtnplaying {
    height: 24px;
    width: 25px;
    border: 1px solid #ddd;
    border-left: none;
    border-radius: 0 4px 4px 0;
    background: url(http://s.stu.126.net/res/images/ui/ui_sprite.png?289a9a7a40d8fed32e43daf4cb8045d0) no-repeat 7px -1613px;
    background-color: #f2f2f5;
    cursor: pointer;
}

.auto-1399293299170 .playbtnplaying:hover {
    background-position: -19px -1613px;
    background-color: #e5e5e9;
}

.auto-1399293299170 .playbtnstop:hover {
    background-position: -19px -1594px;
    background-color: #e5e5e9;
}

.auto-1399293299170 .playbtnstop {
    height: 24px;
    width: 25px;
    border: 1px solid #ddd;
    border-left: none;
    border-radius: 0 4px 4px 0;
    background: url(http://s.stu.126.net/res/images/ui/ui_sprite.png?289a9a7a40d8fed32e43daf4cb8045d0) no-repeat 7px -1593px;
    background-color: #f2f2f5;
    cursor: pointer;
}

.auto-1399293299171 .inputbox {
    float: left;
}

.auto-1399293299171 .inputbox .tips {
    color: #ccc;
    font-size: 12px;
    line-height: 26px;
}

.auto-1399293299171 .infobox {
    float: left;
}

.u-qrcode {
    cursor: pointer;
    z-index: 999;
    width: 60px;
    height: 40px;
    position: fixed;
    background: url(http://s.stu.126.net/res/images/ui/sideui.png?11463b6b0b8489f5d981085e8f405324) -152px -286px;
    bottom: 20px;
    right: 30px;
}

.u-qrcode:hover {
    background-position: -71px -286px;
}

.u-qrcode .weixin {
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 10px;
}

.u-qrcode .txt {
    font-size: 14px;
    color: #333;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.u-qrcode .all {
    cursor: default;
    position: absolute;
    width: 120px;
    height: 332px;
    padding: 10px;
    right: 70px;
    bottom: 0px;
    background: #fff;
    border: 1px solid #eaeaea;
    box-shadow: 1px 1px 1px #eaeaea;
}

.u-scrtop {
    cursor: pointer;
    z-index: 999;
    width: 60px;
    height: 50px;
    position: fixed;
    background: url(http://s.stu.126.net/res/images/ui/sideui.png?11463b6b0b8489f5d981085e8f405324) 0 0;
    bottom: 70px;
    right: 30px;
}

.u-scrtop:hover {
    background-position: -71px 0;
}

.u-scrtop {
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
}</style>
<style>[touch-action="none"] {
    -ms-touch-action: none;
    touch-action: none;
}

[touch-action="pan-x"] {
    -ms-touch-action: pan-x;
    touch-action: pan-x;
}

[touch-action="pan-y"] {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

[touch-action="scroll"], [touch-action="pan-x pan-y"], [touch-action="pan-y pan-x"] {
    -ms-touch-action: pan-x pan-y;
    touch-action: pan-x pan-y;
}</style>
<script>window["_GOOG_TRANS_EXT_VER"] = "1";</script>
</head>
<body id="find" class="auto-1399293299173-parent auto-1399293299172-parent" youdao="bind" ryt13667="1">
<div class="m-maintainInfo" style="display: none;">
  <div id="maintain_info_box" class="g-wrap"></div>
</div>
<div id="j-fixed-head" class="g-hd f-bg1">
  <div class="g-wrap">
    <%# TODO 顶部图片效果  %>
    <div class="m-header f-pr f-cb" style="background-color: #000000 ">
      <div class="m-logo">
        <a hidefocus="true" href="http://study.163.com/"> <img src="/assets/logo.png" title="网易云课堂"> </a>
      </div>
      <div class="m-nav f-cb" id="j-navFind"><a href="http://study.163.com/" hidefocus="true">首页</a>
        <a href="http://study.163.com/find.htm" hidefocus="true" class="selected">全部学习资源</a>
        <a href="http://study.163.com/question/repolist.htm" hidefocus="true">题库</a>
        <a href="http://study.163.com/cloud/myCloudClass.htm" hidefocus="true">我的云课堂</a></div>
      <div class="m-links" id="j-topnav">
        <div class="login f-cb">
          <div class="mes f-cb" id="j-mes">
            <div class="u-msg f-cb" id="auto-id-oAe9DznExDpxOqyv"><em class="j-num f-dn">0</em>

              <div class="msgLogo"></div>
              <div class="box x-hide">
                <div class="u-navbg j-box">
                  <div class="top f-cb">
                    <strong class="f-fs1">未读通知</strong><a class="s-fc2" id="auto-id-B3bQPb08aOs8yh3o" style="display: none;">全部标记为已读</a>
                  </div>
                  <div class="cntwrp">
                    <div class="nocnt">当前还没有新消息</div>
                    <div class="cnt" style="display: none;"></div>
                  </div>
                  <div class="more" id="auto-id-uyKyeZM617d3hXdC">查看所有通知</div>
                </div>
              </div>
            </div>
          </div>
          <div class="info f-pr" id="nav-info-box"><a href="http://study.163.com/cloud/myCloudClass.htm" class="face">
            <img id="my-img" src="/assets/small.jpg" width="28px" height="28px" alt="头像"> </a>

            <div class="set j-nav-set x-hide">
              <ul class="u-navbg">
                <li><a href="http://study.163.com/cloud/myCloudClass.htm">我的云课堂</a></li>
                <li><a href="http://study.163.com/u/849670682" class="self j-uhref">个人主页</a></li>
                <li><a href="http://study.163.com/user/setting.htm" class="setting">设置</a></li>
                <li>
                  <a href="http://study.163.com/thirdshare/inviteFriends.htm#/inviteShare?status=1&type=2" class="request">邀请好友</a>
                </li>
                <li><a href="http://study.163.com/about/aboutus.htm#/about?aboutType=8" class="reply">意见反馈</a></li>
                <li><a href="http://study.163.com/member/logout.htm" class="exit">退出</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-search u-searchUI f-fr" id="j-searchP">
        <div class="box off j-search f-cb">
          <div class="submit j-submit f-hide f-fl">搜索课程、计划或用户</div>
          <input type="text" class="j-input f-fl" id="auto-id-k0g6c7Ntw9Zr0LFK">
          <label class="j-label" id="auto-id-ekfr6rcZ2gX8eGZU">搜索课程、计划或用户</label></div>
        <div class="j-suggest sug"></div>
      </div>
    </div>
  </div>
</div>
<div class="m-subnav" id="j-submav">
  <div class="g-wrap f-cb f-pr">
    <div class="nav f-cb" id="j-nav">
      <div class="it j-subitem js-selected" id="auto-id-d13CI4Td8M11WnHg">课程<em></em></div>
      <div class="it j-subitem" id="auto-id-TQVl0a509SGFh35K">学习计划<em id="j-plansubitem"></em></div>
      <div class="it j-subitem" id="auto-id-xo1es2Z5T3JnTxQf">技能图谱<em></em></div>
      <div class="it j-subitem" id="auto-id-GHAlEJEBsNIHEBbm">猜你喜欢<em></em></div>
      <div class="it j-subitem f-dn" id="auto-id-AXlRSgWcA2Mn9rBe">网易内部培训<em></em></div>
    </div>
    <a id="j-want" class="f-ib want">还想学什么？告诉我们吧 ~</a>
    <a id="j-create" class="f-ib want" style="display:none;">创建一份属于你自己的学习计划 &gt;</a></div>
</div>
<div id="j-find-main" class="find_main">
<div class="m-courselist">
<div class="b-20"></div>
<div class="g-doc f-cb">
<div class="g-sd1 sidebrwrap">
  <div class="m-sidebr j-cate">
    <div class="u-cateNav" id="auto-id-FsFTsOhFspqPUHKA">
      <ul class="j-cates cates">
        <li class="j-catli it f-f0 f-cb first  cur" data-id="-1" data-name="全部文件"><a data-id="-1">全部文件</a></li>
        <li class="j-catli it f-f0 f-cb  hasChildren" data-id="31001" data-name="IT与互联网">
          <a data-id="31001">IT与互联网</a></li>
        <li class="j-catli it f-f0 f-cb  hasChildren" data-id="31003" data-name="外语学习"><a data-id="31003">外语学习</a>
        </li>
        <li class="j-catli it f-f0 f-cb  hasChildren" data-id="31005" data-name="兴趣爱好"><a data-id="31005">兴趣爱好</a>
        </li>
        <li class="j-catli it f-f0 f-cb  hasChildren" data-id="31004" data-name="生活家居"><a data-id="31004">生活家居</a>
        </li>
        <li class="j-catli it f-f0 f-cb  hasChildren" data-id="31006" data-name="职场提升"><a data-id="31006">职场提升</a>
        </li>
        <li class="j-catli it f-f0 f-cb  hasChildren" data-id="31002" data-name="实用软件"><a data-id="31002">实用软件</a>
        </li>
        <li class="j-catli it f-f0 f-cb  hasChildren" data-id="31007" data-name="经管金融"><a data-id="31007">经管金融</a>
        </li>
        <li class="j-catli it f-f0 f-cb  hasChildren" data-id="31008" data-name="考试认证"><a data-id="31008">考试认证</a>
        </li>
        <li class="j-catli it f-f0 f-cb  hasChildren" data-id="31009" data-name="中小学"><a data-id="31009">中小学</a>
        </li>
        <li class="j-catli it f-f0 f-cb  hasChildren" data-id="31010" data-name="亲子育儿"><a data-id="31010">亲子育儿</a>
        </li>
        <li class="j-catli it f-f0 f-cb last " data-id="31011" data-name="大学课程"><a data-id="31011">大学课程</a></li>
      </ul>


    </div>
  </div>
</div>
<div class="g-mn1">
<div class="g-mn1c m-cnt">
<div class="top f-cb j-top">
  <h3 class="f-fl f-thide j-cateTitle title"><span class="c1 curTit">全部课程</span> <span class="c2"></span></h3>

  <div class="u-sortUI f-cb">
    <div class="j-tit f-fl">价格：</div>


  </div>
</div>
<div class="j-courseNode lists auto-1399293299145-parent">
<div class="m-basepool f-cb auto-1399293299145">
<div class="m-data-lists f-cb f-pr j-data-list">
<div class="u-cover f-cb u-find-cover first">
  <a target="_blank" class="j-hrf wrap" id="auto-id-CdrziUDHlxMIMLpE" href="http://study.163.com/course/introduction/532007.htm">
    <div class="img">
      <div class="pic"><img class="j-imgArea" width="223px" src="/assets/saved_resource">

        <div class="planflag"></div>
      </div>
      <div class="tit"><h3 class="j-imgArea f-thide">如何掌控自己的时间和生活</h3>

        <div class="continued j-con sign" style="display: none;">连载</div>
      </div>
      <div class="j-thumb">
        <div class="thumb j-info"><span class="name f-fs0 f-thide j-d">学以思网络课堂</span>

          <div class="desc"><span class="hot f-fs0 j-d">13144</span><span class="mark j-d"><div class="u-rating">
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star half"></div>
            <span class="j-tip"></span></div></span></div>
          <div class="btn j-priceBtn">
            <div class="normal f-fs0 j-d">免费</div>
            <div class="j-discountPrice discount"></div>
          </div>
          <div class="descd j-d"><p class="dtit">如何掌控自己的时间和生活</p>

            <p class="ddesc">如何掌控自己的时间和生活，让自己生活的更幸福？ 本次学以思网络课堂联合创始人波波...</p>
            <span class="dbtn">查看课程</span></div>
        </div>
      </div>
      <div class="draftStatus f-pa j-draftStatus" style="display: none;"></div>
      <div class="j-publicStatus" style="display: none;"></div>
    </div>
  </a>

  <div class="j-mask mask" style="display: none;">
    <div class="j-del delbtn" id="auto-id-OI0tM6HDP2m1tNnx"></div>
  </div>
</div>
<div class="u-cover f-cb u-find-cover">
  <a target="_blank" class="j-hrf wrap" id="auto-id-lzKFgfrosn6SHISq" href="http://study.163.com/course/introduction/567005.htm">
    <div class="img">
      <div class="pic">
        <img class="j-imgArea" width="223px" src="/assets/saved_resource(1)">

        <div class="planflag"></div>
      </div>
      <div class="tit"><h3 class="j-imgArea f-thide">轻松读书一周年：如何阅读一本书</h3>

        <div class="continued j-con sign">连载</div>
      </div>
      <div class="j-thumb">
        <div class="thumb j-info"><span class="name f-fs0 f-thide j-d">学以思网络课堂</span>

          <div class="desc"><span class="hot f-fs0 j-d">3773</span><span class="mark j-d"><div class="u-rating">
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star half"></div>
            <span class="j-tip"></span></div></span></div>
          <div class="btn j-priceBtn">
            <div class="normal f-fs0 j-d">免费</div>
            <div class="j-discountPrice discount"></div>
          </div>
          <div class="descd j-d"><p class="dtit">轻松读书一周年：如何阅读一本书</p>

            <p class="ddesc">轻松读书活动开展一周年了！ 为了感谢各位读书朋友们的关注，特此分享一本经典的阅读...</p>
            <span class="dbtn">查看课程</span></div>
        </div>
      </div>
      <div class="draftStatus f-pa j-draftStatus" style="display: none;"></div>
      <div class="j-publicStatus" style="display: none;"></div>
    </div>
  </a>

  <div class="j-mask mask" style="display: none;">
    <div class="j-del delbtn" id="auto-id-docQwf3ZceMC8t13"></div>
  </div>
</div>
<div class="u-cover f-cb u-find-cover">
  <a target="_blank" class="j-hrf wrap" id="auto-id-vCBs4dqhECls4WrN" href="http://study.163.com/course/introduction/550006.htm">
    <div class="img">
      <div class="pic">
        <img class="j-imgArea" width="223px" src="/assets/saved_resource(2)">

        <div class="planflag"></div>
      </div>
      <div class="tit"><h3 class="j-imgArea f-thide">轻松读书：拖延心理学</h3>

        <div class="continued j-con sign" style="display: none;">连载</div>
      </div>
      <div class="j-thumb">
        <div class="thumb j-info"><span class="name f-fs0 f-thide j-d">学以思网络课堂</span>

          <div class="desc"><span class="hot f-fs0 j-d">6080</span><span class="mark j-d"><div class="u-rating">
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star half"></div>
            <span class="j-tip"></span></div></span></div>
          <div class="btn j-priceBtn">
            <div class="normal f-fs0 j-d">免费</div>
            <div class="j-discountPrice discount"></div>
          </div>
          <div class="descd j-d"><p class="dtit">轻松读书：拖延心理学</p>

            <p class="ddesc">只要你不是从星星来的都教授，你就会犯拖延的毛病 :-) 我们不喜欢拖延，但却又无法摆...</p>
            <span class="dbtn">查看课程</span></div>
        </div>
      </div>
      <div class="draftStatus f-pa j-draftStatus" style="display: none;"></div>
      <div class="j-publicStatus" style="display: none;"></div>
    </div>
  </a>

  <div class="j-mask mask" style="display: none;">
    <div class="j-del delbtn" id="auto-id-VMKN9veuOZHCbNIg"></div>
  </div>
</div>
<div class="u-cover f-cb u-find-cover">
  <a target="_blank" class="j-hrf wrap" id="auto-id-TiFKhD5na97Su5Ld" href="http://study.163.com/course/introduction/523011.htm">
    <div class="img">
      <div class="pic">
        <img class="j-imgArea" width="223px" src="/assets/saved_resource(3)">

        <div class="planflag"></div>
      </div>
      <div class="tit"><h3 class="j-imgArea f-thide">轻松读书：快速阅读</h3>

        <div class="continued j-con sign" style="display: none;">连载</div>
      </div>
      <div class="j-thumb">
        <div class="thumb j-info"><span class="name f-fs0 f-thide j-d">学以思网络课堂</span>

          <div class="desc"><span class="hot f-fs0 j-d">10900</span><span class="mark j-d"><div class="u-rating">
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star half"></div>
            <div class="star"></div>
            <span class="j-tip"></span></div></span></div>
          <div class="btn j-priceBtn">
            <div class="normal f-fs0 j-d">免费</div>
            <div class="j-discountPrice discount"></div>
          </div>
          <div class="descd j-d"><p class="dtit">轻松读书：快速阅读</p>

            <p class="ddesc">如何能够像阅读高手一样读书？ 如何能够在1个半小时以内就高效地看完一本书？ 学以思...</p>
            <span class="dbtn">查看课程</span></div>
        </div>
      </div>
      <div class="draftStatus f-pa j-draftStatus" style="display: none;"></div>
      <div class="j-publicStatus" style="display: none;"></div>
    </div>
  </a>

  <div class="j-mask mask" style="display: none;">
    <div class="j-del delbtn" id="auto-id-tDg6DyBBu0zHncSt"></div>
  </div>
</div>
<div class="u-cover f-cb u-find-cover">
  <a target="_blank" class="j-hrf wrap" id="auto-id-F2UykJitN7xiiGUF" href="http://study.163.com/course/introduction/432008.htm">
    <div class="img">
      <div class="pic">
        <img class="j-imgArea" width="223px" src="/assets/saved_resource(4)">

        <div class="planflag"></div>
      </div>
      <div class="tit"><h3 class="j-imgArea f-thide">8小时学会HTML网页开发</h3>

        <div class="continued j-con sign" style="display: none;">连载</div>
      </div>
      <div class="j-thumb">
        <div class="thumb j-info"><span class="name f-fs0 f-thide j-d">布尔教育</span>

          <div class="desc"><span class="hot f-fs0 j-d">12261</span><span class="mark j-d"><div class="u-rating">
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <span class="j-tip"></span></div></span></div>
          <div class="btn j-priceBtn">
            <div class="normal f-fs0 j-d">免费</div>
            <div class="j-discountPrice discount"></div>
          </div>
          <div class="descd j-d"><p class="dtit">8小时学会HTML网页开发</p>

            <p class="ddesc">一说学网页,学编程,大家都下意识觉得要"吃苦","熬夜",哪有那么复杂,一定是你看错了教...</p>
            <span class="dbtn">查看课程</span></div>
        </div>
      </div>
      <div class="draftStatus f-pa j-draftStatus" style="display: none;"></div>
      <div class="j-publicStatus" style="display: none;"></div>
    </div>
  </a>

  <div class="j-mask mask" style="display: none;">
    <div class="j-del delbtn" id="auto-id-UbgsHciHyTQTsZ7t"></div>
  </div>
</div>
<div class="u-cover f-cb u-find-cover">
  <a target="_blank" class="j-hrf wrap" id="auto-id-ocKffSlLk2OhvVfx" href="http://study.163.com/course/introduction/359002.htm">
    <div class="img">
      <div class="pic">
        <img class="j-imgArea" width="223px" src="/assets/saved_resource(5)">

        <div class="planflag"></div>
      </div>
      <div class="tit"><h3 class="j-imgArea f-thide">excel 2013职业能力培训</h3>

        <div class="continued j-con sign">连载</div>
      </div>
      <div class="j-thumb">
        <div class="thumb j-info"><span class="name f-fs0 f-thide j-d">谷小城</span>

          <div class="desc"><span class="hot f-fs0 j-d">17446</span><span class="mark j-d"><div class="u-rating">
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <span class="j-tip"></span></div></span></div>
          <div class="btn j-priceBtn">
            <div class="normal f-fs0 j-d">免费</div>
            <div class="j-discountPrice discount"></div>
          </div>
          <div class="descd j-d"><p class="dtit">excel 2013职业能力培训</p>

            <p class="ddesc">国内收看人数最多评价最好的excel2013在线视频教学，思路清晰，讲解细致 有疑问和建议...</p>
            <span class="dbtn">查看课程</span></div>
        </div>
      </div>
      <div class="draftStatus f-pa j-draftStatus" style="display: none;"></div>
      <div class="j-publicStatus" style="display: none;"></div>
    </div>
  </a>

  <div class="j-mask mask" style="display: none;">
    <div class="j-del delbtn" id="auto-id-2Tpq7rnt0Ars1zaF"></div>
  </div>
</div>
<div class="u-cover f-cb u-find-cover">
  <a target="_blank" class="j-hrf wrap" id="auto-id-4oulPve7gyREkQq3" href="http://study.163.com/course/introduction/352003.htm">
    <div class="img">
      <div class="pic">
        <img class="j-imgArea" width="223px" src="/assets/saved_resource(6)">

        <div class="planflag"></div>
      </div>
      <div class="tit"><h3 class="j-imgArea f-thide">你所不知道的唱歌十大秘密</h3>

        <div class="continued j-con sign" style="display: none;">连载</div>
      </div>
      <div class="j-thumb">
        <div class="thumb j-info"><span class="name f-fs0 f-thide j-d">巍峰营音乐网</span>

          <div class="desc"><span class="hot f-fs0 j-d">30483</span><span class="mark j-d"><div class="u-rating">
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <span class="j-tip"></span></div></span></div>
          <div class="btn j-priceBtn">
            <div class="normal f-fs0 j-d">免费</div>
            <div class="j-discountPrice discount"></div>
          </div>
          <div class="descd j-d"><p class="dtit">你所不知道的唱歌十大秘密</p>

            <p class="ddesc">唱歌有许多不为人知的“秘密”，这些秘密可能是专业人士深入研究几十年得到的理论，但...</p>
            <span class="dbtn">查看课程</span></div>
        </div>
      </div>
      <div class="draftStatus f-pa j-draftStatus" style="display: none;"></div>
      <div class="j-publicStatus" style="display: none;"></div>
    </div>
  </a>

  <div class="j-mask mask" style="display: none;">
    <div class="j-del delbtn" id="auto-id-lIrvz81tqndoWiDx"></div>
  </div>
</div>

<div class="u-cover f-cb u-find-cover">
  <a target="_blank" class="j-hrf wrap" id="auto-id-soPEui4BzTOFKu2B" href="http://study.163.com/course/introduction/274012.htm">
    <div class="img">
      <div class="pic">
        <img class="j-imgArea" width="223px" src="/assets/saved_resource(15)">

        <div class="planflag"></div>
      </div>
      <div class="tit"><h3 class="j-imgArea f-thide">公众演讲与口才培训</h3>

        <div class="continued j-con sign" style="display: none;">连载</div>
      </div>
      <div class="j-thumb">
        <div class="thumb j-info"><span class="name f-fs0 f-thide j-d">名师学院</span>

          <div class="desc"><span class="hot f-fs0 j-d">14203</span><span class="mark j-d"><div class="u-rating">
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star half"></div>
            <span class="j-tip"></span></div></span></div>
          <div class="btn j-priceBtn">
            <div class="normal f-fs0 j-d">免费</div>
            <div class="j-discountPrice discount"></div>
          </div>
          <div class="descd j-d"><p class="dtit">公众演讲与口才培训</p>

            <p class="ddesc">涉及了演讲基础、演讲技巧、应用口才等众多内容，多层次全方位地帮助你提高演讲能力和...</p>
            <span class="dbtn">查看课程</span></div>
        </div>
      </div>
      <div class="draftStatus f-pa j-draftStatus" style="display: none;"></div>
      <div class="j-publicStatus f-cst-10"></div>
    </div>
  </a>

  <div class="j-mask mask" style="display: none;">
    <div class="j-del delbtn" id="auto-id-TQMzBEZlo1nmbevS"></div>
  </div>
</div>
<div class="u-cover f-cb u-find-cover">
  <a target="_blank" class="j-hrf wrap" id="auto-id-ce7X7U2N885AKwkF" href="http://study.163.com/course/introduction/203001.htm">
    <div class="img">
      <div class="pic">
        <img class="j-imgArea" width="223px" src="/assets/saved_resource(16)">

        <div class="planflag"></div>
      </div>
      <div class="tit"><h3 class="j-imgArea f-thide">李涛Photoshop高手之路基础篇</h3>

        <div class="continued j-con sign" style="display: none;">连载</div>
      </div>
      <div class="j-thumb">
        <div class="thumb j-info"><span class="name f-fs0 f-thide j-d">良知塾TaoStudio</span>

          <div class="desc"><span class="hot f-fs0 j-d">28728</span><span class="mark j-d"><div class="u-rating">
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <span class="j-tip"></span></div></span></div>
          <div class="btn j-priceBtn">
            <div class="normal f-fs0 j-d">免费</div>
            <div class="j-discountPrice discount"></div>
          </div>
          <div class="descd j-d"><p class="dtit">李涛Photoshop高手之路基础篇</p>

            <p class="ddesc">此课程是李涛老师《Photoshop高手之路》的基础篇，全面覆盖了Photoshop的基础知识，使...</p>
            <span class="dbtn">查看课程</span></div>
        </div>
      </div>
      <div class="draftStatus f-pa j-draftStatus" style="display: none;"></div>
      <div class="j-publicStatus f-cst-10"></div>
    </div>
  </a>

  <div class="j-mask mask" style="display: none;">
    <div class="j-del delbtn" id="auto-id-h9PicfSpHdmfZcMy"></div>
  </div>
</div>
<div class="u-cover f-cb u-find-cover">
  <a target="_blank" class="j-hrf wrap" id="auto-id-mwW7KID6tBXHqcID" href="http://study.163.com/course/introduction/197001.htm">
    <div class="img">
      <div class="pic">
        <img class="j-imgArea" width="223px" src="/assets/saved_resource(16)">

        <div class="planflag"></div>
      </div>
      <div class="tit"><h3 class="j-imgArea f-thide">李涛Photoshop高手之路提高篇</h3>

        <div class="continued j-con sign" style="display: none;">连载</div>
      </div>
      <div class="j-thumb">
        <div class="thumb j-info"><span class="name f-fs0 f-thide j-d">良知塾TaoStudio</span>

          <div class="desc"><span class="hot f-fs0 j-d">25519</span><span class="mark j-d"><div class="u-rating">
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <span class="j-tip"></span></div></span></div>
          <div class="btn j-priceBtn">
            <div class="normal f-fs0 j-d">免费</div>
            <div class="j-discountPrice discount"></div>
          </div>
          <div class="descd j-d"><p class="dtit">李涛Photoshop高手之路提高篇</p>

            <p class="ddesc">本系列视频源自良知塾与高等教育出版社合作数字艺术设计精品规划教材之《Photoshop CS...</p>
            <span class="dbtn">查看课程</span></div>
        </div>
      </div>
      <div class="draftStatus f-pa j-draftStatus" style="display: none;"></div>
      <div class="j-publicStatus f-cst-10"></div>
    </div>
  </a>

  <div class="j-mask mask" style="display: none;">
    <div class="j-del delbtn" id="auto-id-sn7DuAgzGDKxS5w9"></div>
  </div>
</div>
<div class="u-cover f-cb u-find-cover">
  <a target="_blank" class="j-hrf wrap" id="auto-id-pbU8FVOVNQl26Z5Z" href="http://study.163.com/course/introduction/249009.htm">
    <div class="img">
      <div class="pic">
        <img class="j-imgArea" width="223px" src="/assets/saved_resource(17)">

        <div class="planflag"></div>
      </div>
      <div class="tit"><h3 class="j-imgArea f-thide">酷艾英语</h3>

        <div class="continued j-con sign">连载</div>
      </div>
      <div class="j-thumb">
        <div class="thumb j-info"><span class="name f-fs0 f-thide j-d">新东方在线</span>

          <div class="desc"><span class="hot f-fs0 j-d">24897</span><span class="mark j-d"><div class="u-rating">
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <span class="j-tip"></span></div></span></div>
          <div class="btn j-priceBtn">
            <div class="normal f-fs0 j-d">免费</div>
            <div class="j-discountPrice discount"></div>
          </div>
          <div class="descd j-d"><p class="dtit">酷艾英语</p>

            <p class="ddesc">引爆流行潮话题，时尚经典句句值得用心记，就爱生活中找乐子的你！每周四high翻英语小...</p>
            <span class="dbtn">查看课程</span></div>
        </div>
      </div>
      <div class="draftStatus f-pa j-draftStatus" style="display: none;"></div>
      <div class="j-publicStatus" style="display: none;"></div>
    </div>
  </a>

  <div class="j-mask mask" style="display: none;">
    <div class="j-del delbtn" id="auto-id-4GcB8KrSWDFfSoSz"></div>
  </div>
</div>
<div class="u-cover f-cb u-find-cover">
  <a target="_blank" class="j-hrf wrap" id="auto-id-WXnyW5gvwDwocnDo" href="http://study.163.com/course/introduction/215001.htm">
    <div class="img">
      <div class="pic">
        <img class="j-imgArea" width="223px" src="/assets/saved_resource(18)">

        <div class="planflag"></div>
      </div>
      <div class="tit"><h3 class="j-imgArea f-thide">说服力，让你的PPT会说话 </h3>

        <div class="continued j-con sign" style="display: none;">连载</div>
      </div>
      <div class="j-thumb">
        <div class="thumb j-info"><span class="name f-fs0 f-thide j-d">秋叶</span>

          <div class="desc"><span class="hot f-fs0 j-d">22482</span><span class="mark j-d"><div class="u-rating">
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star"></div>
            <span class="j-tip"></span></div></span></div>
          <div class="btn j-priceBtn">
            <div class="normal f-fs0 j-d">免费</div>
            <div class="j-discountPrice discount"></div>
          </div>
          <div class="descd j-d"><p class="dtit">说服力，让你的PPT会说话 </p>

            <p class="ddesc">全图型PPT怎样做？如何从杂志里模仿排版？有哪些分析问题的框架？这个课件包一定能启...</p>
            <span class="dbtn">查看课程</span></div>
        </div>
      </div>
      <div class="draftStatus f-pa j-draftStatus" style="display: none;"></div>
      <div class="j-publicStatus" style="display: none;"></div>
    </div>
  </a>

  <div class="j-mask mask" style="display: none;">
    <div class="j-del delbtn" id="auto-id-2hpCxGofm1tnEvlv"></div>
  </div>
</div>
<div class="u-cover f-cb u-find-cover">
  <a target="_blank" class="j-hrf wrap" id="auto-id-J1hfuZZowxfX0ABE" href="http://study.163.com/course/introduction/214017.htm">
    <div class="img">
      <div class="pic">
        <img class="j-imgArea" width="223px" src="/assets/saved_resource(19)">

        <div class="planflag"></div>
      </div>
      <div class="tit"><h3 class="j-imgArea f-thide">Abby学摄影</h3>

        <div class="continued j-con sign" style="display: none;">连载</div>
      </div>
      <div class="j-thumb">
        <div class="thumb j-info"><span class="name f-fs0 f-thide j-d">咔图摄影教育中心</span>

          <div class="desc"><span class="hot f-fs0 j-d">21111</span><span class="mark j-d"><div class="u-rating">
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <span class="j-tip"></span></div></span></div>
          <div class="btn j-priceBtn">
            <div class="normal f-fs0 j-d">免费</div>
            <div class="j-discountPrice discount"></div>
          </div>
          <div class="descd j-d"><p class="dtit">Abby学摄影</p>

            <p class="ddesc">《Abby学摄影》是卡图摄影教育中心重磅推出的免费的摄影视频教程，它们实用并且诙谐有...</p>
            <span class="dbtn">查看课程</span></div>
        </div>
      </div>
      <div class="draftStatus f-pa j-draftStatus" style="display: none;"></div>
      <div class="j-publicStatus" style="display: none;"></div>
    </div>
  </a>

  <div class="j-mask mask" style="display: none;">
    <div class="j-del delbtn" id="auto-id-qh0mw8mZDaczuO3B"></div>
  </div>
</div>
<div class="u-cover f-cb u-find-cover">
  <a target="_blank" class="j-hrf wrap" id="auto-id-DFbEBfNRFTLWyro5" href="http://study.163.com/course/introduction/237003.htm">
    <div class="img">
      <div class="pic">
        <img class="j-imgArea" width="223px" src="/assets/saved_resource(20)">

        <div class="planflag"></div>
      </div>
      <div class="tit"><h3 class="j-imgArea f-thide">英语零基础入门：音标语音课</h3>

        <div class="continued j-con sign" style="display: none;">连载</div>
      </div>
      <div class="j-thumb">
        <div class="thumb j-info"><span class="name f-fs0 f-thide j-d">沪江网校</span>

          <div class="desc"><span class="hot f-fs0 j-d">20475</span><span class="mark j-d"><div class="u-rating">
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <span class="j-tip"></span></div></span></div>
          <div class="btn j-priceBtn">
            <div class="normal f-fs0 j-d">免费</div>
            <div class="j-discountPrice discount"></div>
          </div>
          <div class="descd j-d"><p class="dtit">英语零基础入门：音标语音课</p>

            <p class="ddesc">在零起点学习英语的过程中，掌握26个英文字母的写法、读法，同时学习48个国际音标的正...</p>
            <span class="dbtn">查看课程</span></div>
        </div>
      </div>
      <div class="draftStatus f-pa j-draftStatus" style="display: none;"></div>
      <div class="j-publicStatus" style="display: none;"></div>
    </div>
  </a>

  <div class="j-mask mask" style="display: none;">
    <div class="j-del delbtn" id="auto-id-X7vSHqskST34F2Di"></div>
  </div>
</div>
<div class="u-cover f-cb u-find-cover">
  <a target="_blank" class="j-hrf wrap" id="auto-id-0WwSsmM14MWpDsmL" href="http://study.163.com/course/introduction/171001.htm">
    <div class="img">
      <div class="pic">
        <img class="j-imgArea" width="223px" src="/assets/saved_resource(21)">

        <div class="planflag"></div>
      </div>
      <div class="tit"><h3 class="j-imgArea f-thide">HTML5入门</h3>

        <div class="continued j-con sign" style="display: none;">连载</div>
      </div>
      <div class="j-thumb">
        <div class="thumb j-info"><span class="name f-fs0 f-thide j-d">翁恺</span>

          <div class="desc"><span class="hot f-fs0 j-d">18906</span><span class="mark j-d"><div class="u-rating">
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star half"></div>
            <span class="j-tip"></span></div></span></div>
          <div class="btn j-priceBtn">
            <div class="normal f-fs0 j-d">免费</div>
            <div class="j-discountPrice discount"></div>
          </div>
          <div class="descd j-d"><p class="dtit">HTML5入门</p>

            <p class="ddesc">HTML5 是用于取代1999年所制定的 HTML 4.01 和 XHTML 1.0 标准的 HTML 标准版本，现在...</p>
            <span class="dbtn">查看课程</span></div>
        </div>
      </div>
      <div class="draftStatus f-pa j-draftStatus" style="display: none;"></div>
      <div class="j-publicStatus f-cst-10"></div>
    </div>
  </a>

  <div class="j-mask mask" style="display: none;">
    <div class="j-del delbtn" id="auto-id-wEzFnTLwkzTG2XkT"></div>
  </div>
</div>
<div class="u-cover f-cb u-find-cover last">
  <a target="_blank" class="j-hrf wrap" id="auto-id-5PydCZVt9I7IKxRG" href="http://study.163.com/course/introduction/213004.htm">
    <div class="img">
      <div class="pic">
        <img class="j-imgArea" width="223px" src="/assets/saved_resource(22)">

        <div class="planflag"></div>
      </div>
      <div class="tit"><h3 class="j-imgArea f-thide">手绘画系列教程</h3>

        <div class="continued j-con sign" style="display: none;">连载</div>
      </div>
      <div class="j-thumb">
        <div class="thumb j-info"><span class="name f-fs0 f-thide j-d">几分钟网</span>

          <div class="desc"><span class="hot f-fs0 j-d">18165</span><span class="mark j-d"><div class="u-rating">
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star on"></div>
            <div class="star half"></div>
            <div class="star"></div>
            <span class="j-tip"></span></div></span></div>
          <div class="btn j-priceBtn btn3">
            <div class="normal f-fs0 j-d">在学</div>
            <div class="j-discountPrice discount"></div>
          </div>
          <div class="descd j-d"><p class="dtit">手绘画系列教程</p>

            <p class="ddesc">生活中不乏有很多美好的画面，何不用画笔记录下来呢？那么就跟几分钟网一起来记录美好...</p>
            <span class="dbtn">查看课程</span></div>
        </div>
      </div>
      <div class="draftStatus f-pa j-draftStatus" style="display: none;"></div>
      <div class="j-publicStatus" style="display: none;"></div>
    </div>
  </a>

  <div class="j-mask mask" style="display: none;">
    <div class="j-del delbtn" id="auto-id-RnMyVFpXiZHZhBTQ"></div>
  </div>
</div>
</div>
<div class="ui-pager f-pr j-data-pager auto-1399293299144-parent">
  <div class="auto-1399293299144">
    <a href="http://study.163.com/find.htm#" class="zbtn zprv js-p-1399293299139 js-disabled" id="auto-id-eTFcKMsdztMGuKk6">上一页</a><a href="http://study.163.com/find.htm#" class="zpgi zpg1 js-i-1399293299139 js-selected" id="auto-id-dMoVsQUBUtwgk4yU">1</a><a href="http://study.163.com/find.htm#" class="zpgi zpg2 js-i-1399293299139" id="auto-id-plp0W5xWxtlntiat" style="">2</a><a href="http://study.163.com/find.htm#" class="zpgi zpg3 js-i-1399293299139" id="auto-id-WSTT7A5Jiz4qohT0" style="">3</a><a href="http://study.163.com/find.htm#" class="zpgi zpg4 js-i-1399293299139" id="auto-id-g0xcBdOsANJ6ptfL" style="">4</a><a href="http://study.163.com/find.htm#" class="zpgi zpg5 js-i-1399293299139" id="auto-id-V8gxXG32GiJSzx3L" style="">5</a><a href="http://study.163.com/find.htm#" class="zpgi zpg6 js-i-1399293299139" id="auto-id-mlSaUysu8zPsk6gy" style="">6</a><a href="http://study.163.com/find.htm#" class="zpgi zpg7 js-i-1399293299139" id="auto-id-ffG2WsP8gDhWyKLs" style="">7</a><a href="http://study.163.com/find.htm#" class="zpgi zpg8 js-i-1399293299139" id="auto-id-XPX0WIyCAk3kVEmD" style="">8</a><span class="zdot">...</span><a href="http://study.163.com/find.htm#" class="zpgi zpg9 js-i-1399293299139" id="auto-id-rrb7fsmexJkiiBfW" style="">86</a><a href="http://study.163.com/find.htm#" class="zbtn znxt js-n-1399293299139" id="auto-id-fbBl47igbO9k2ilI">下一页</a>
  </div>
</div>
</div>
</div>
<div class="j-empty empty" style="display: none;">暂无课程</div>
</div>
</div>
</div>
</div>
</div>
<div class="g-ft">
  <div class="m-foot">
    <div class="ftwrapper f-cb">
      <div class="m-ft2">
        <div class="link"><a href="http://study.163.com/about/aboutus.htm#/about?aboutType=1" target="_blank">关于我们</a>
          <a href="http://study.163.com/about/aboutus.htm#/about?aboutType=2" target="_blank">联系我们</a>
          <a href="http://study.163.com/about/aboutus.htm#/about?aboutType=3" target="_blank">法律条款</a>
          <a href="http://study.163.com/about/aboutus.htm#/about?aboutType=4" target="_blank">帮助中心</a>
          <a href="http://study.163.com/about/aboutus.htm#/about?aboutType=7" target="_blank">内容招募</a>
          <a href="http://study.163.com/about/aboutus.htm#/about?aboutType=8" target="_blank">意见反馈</a></div>
        <div class="share f-cb"><p class="tit">关注我们：</p>
          <a href="http://e.weibo.com/study163" class="weibo" target="_blank"></>
          <div class="copy">©<span>1997-2014</span> 版权归我所有</div>
        </div>
      </div>
    </div>
  </div>
  <script src="/assets/core.js" type="text/javascript"></script>
  <script type="text/javascript">(function () {
      var g = window, e = NEJ.P("nej.e"), v = NEJ.P("nej.v"), p = NEJ.P("nej.ut"), eu = NEJ.P("edu.u");
      if (eu.eH()) {
          g.dispatcher = p.em.dK();
          g.dispatcher.ew("config", location.config);
          g.dispatcher.bS(eu.umi("commonutil"), "commonutil.html");
          g.dispatcher.bS(eu.umi("find"), "course/find/find.html");
          g.dispatcher.bS(eu.umi("courselist"), "course/find/find.html");
          g.dispatcher.bS(eu.umi("planlist"), "course/find/find.html");
          g.dispatcher.bS(eu.umi("searchlist"), "course/find/searchlist.html");
          g.dispatcher.bS(eu.umi("corplist"), "course/find/corplist.html");
          g.dispatcher.bS(eu.umi("recommendList"), "course/find/find.html");
          g.dispatcher.bS(eu.umi("skilllist"), "course/find/skill.html");
          g.dispatcher.eG();
          var bP = g.decodeURIComponent(location.hash);
          if (!!bP && !!eu.pS(bP, [eu.umi("courselist"), eu.umi("planlist"), eu.umi("skilllist"), eu.umi("recommendList"), eu.umi("corplist"), eu.umi("searchlist")])) {
              g.dispatcher.ci(location.hash, !0)
          } else if (!!bP && !!eu.pS(bP, ["/find/questionlist"])) {
              g.open("question/repolist.htm", "_self")
          } else {
              g.dispatcher.ci(eu.umi("courselist") + "?ct=-1", !0)
          }
      }
  })()</script>

</div>

</body>
</html>