<div style="height: 80px;">
  </div>
<div class="container">
<div class="row clearfix">
  <div class="col-md-4 column">
    <ol>友情链接
      <li>
        <a href="http://www.wentiqu.com">鲁子的网站</a>
      </li>
      <li>
        <a href="http://tianlu.wentiqu.com">鲁子的博客</a>
      </li>

      <li>
       <a href="http://www.weibo.com">鲁子的微博</a>
      </li>
      
 
    </ol>
  </div>
  <div class="col-md-4 column">
    <ol>Ruby的站点
    <li>
      <a href="http://www.ruby-china.org">Ruby-china</a>
    </li>
      <li>
          <a href="http://www.http://guides.rubyonrails.org/">Rails Guides</a>
      </li>
      <li>
      <a href="https://github.com/tianlu1677">github仓库</a>
    </li>
     

    </ol>
  </div>
  <div class="col-md-4 column">
    <address> <strong>重庆市</strong><br /> 南岸区崇文路2号<br /> 邮编:400065<br /> <abbr title="Phone">电话:</abbr>18716320066</address>
  </div>
</div>
</div>